PAYLOAD_SECRET=change-me
REPOSITORY_DATABASE_URL=postgres://chart_repository:chart_repository@127.0.0.1:5433/chart_repository
SOLUTION_REPOSITORY_SERVER_URL=http://127.0.0.1:3300
CHART_WEB_ORIGIN=http://127.0.0.1:3100
