node_modules
**/node_modules

.git
.github
.DS_Store

data
docs
.local

dist
build
coverage
.next
out
**/dist
**/build
**/coverage
**/.next
**/out

.env
.env.*
api/openapi.yaml
web/public/imported-airtable
web/chart-cms.db
