node_modules/
**/node_modules/

**/.next/
**/dist/
**/build/
**/coverage/
*.tsbuildinfo

data/
docs/
web/payload-types.ts
web/src/app/(payload)/admin/importMap.ts
solution-repository/payload-types.ts
solution-repository/src/app/(payload)/admin/importMap.ts

package-lock.json
