PORT=3200
HOST=127.0.0.1

DATABASE_URL=postgres://chart:chart@127.0.0.1:5432/chart

KEYCLOAK_ISSUER_URL=http://127.0.0.1:8080/realms/chart
KEYCLOAK_CLIENT_ID=chart-api
KEYCLOAK_JWKS_URL=http://127.0.0.1:8080/realms/chart/protocol/openid-connect/certs
KEYCLOAK_CLOCK_SKEW_SECONDS=30
